<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>WHEI</title>
    </head>

    <body>

        <section th:replace="~{fragments::menu}"></section>

        <section class="ConteneurAdresse">

            <section th:each="adresse : ${adresseList}">

                <section class="ElementAdresse">

                    <img th:src="${adresse.urlImage}">
                    <section class="ConteneurParagrapheAdresse">
                        <section class="nomAdresse" th:text="${adresse.nom}"></section>
                        <section class="typeEtAdresse" th:text="${adresse.type + ' - ' + adresse.adresse}"></section>
                        <section class="horairesAdresse" th:text="${adresse.horaires}"></section>
                        <section class="descriptionAdresse" th:text="${adresse.description}"></section>
                    </section>

                </section>

            </section>

        </section>

        <section class="basDePage"></section>

    </body>

</html>