<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="css/style.css">
            <title>WHEI</title>
        </head>

    <body>

        <section th:replace="~{fragments::menuAdmin}"></section>

        <section class="ConteneurAdresse">

            <section th:each="adresse : ${adresseList}">

                <section class="ElementAdresse">

                    <a th:href="${'ModifierAdresse?id='+adresse.id}">
                        <img th:src="${'img/'+adresse.urlImage}">
                        <section class="ConteneurParagrapheAdresse">
                            <section class="nomAdresse" th:text="${adresse.nom}"></section>
                            <section class="typeEtAdresse" th:text="${adresse.type + ' - ' + adresse.adresse}"></section>
                            <section class="horairesAdresse" th:text="${adresse.horaires}"></section>
                            <section class="descriptionAdresse" th:text="${adresse.description}"></section>
                        </section>
                    </a>

                </section>

            </section>

        </section>

        <section class="ConteneurBoutonAjouter">
            <section class="BoutonAjouter">
                <a href="/AjouterAdresse">Ajouter</a>
            </section>
        </section>

        <section class="basDePage"></section>

    </body>

</html>