<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>

    <body>

        <section th:fragment="menu" class="Menu">

            <section>
                <a href="/Accueil">
                    <img src="img/Logo.png">
                </a>
            </section>

            <section class="ContenuMenu">
                <a href="/Ecole">L'ECOLE</a>
            </section>

            <section class="ContenuMenu">
                <a href="/Integrale">L'INTEGRALE</a>
            </section>

            <section class="ContenuMenu">
                <a href="/Evenement">EVENT</a>
            </section>

            <section class="ContenuMenu">
                <a href="/Adresse">ADRESSES</a>
            </section>

            <section class="ContenuMenu">
                <a href="/Contact">CONTACT</a>
            </section>

        </section>

        <section th:fragment="menuAdmin" class="Menu">

            <section>
                <a href="/admin/AccueilAdmin">
                    <img src="/img/Logo.png">
                </a>
            </section>

            <section class="ContenuMenu">
                <a href="/admin/IntegraleAdmin">L'INTEGRALE</a>
            </section>

            <section class="ContenuMenu">
                <a href="/admin/EvenementAdmin">EVENT</a>
            </section>

            <section class="ContenuMenu">
                <a href="/admin/AdresseAdmin">ADRESSES</a>
            </section>

            <section class="ContenuMenu">
                <a href="/admin/ContactAdmin">CONTACT</a>
            </section>

            <section class="ContenuMenu">
                <a href="/admin/Deconnexion">DECONNEXION</a>
            </section>

        </section>

    </body>

</html>